.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 115px;
  height: 100%;
  padding-top: 20px;
  border-right: 2px solid #587481;

  .containerMenuIcon {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: auto;
    column-gap: 8px;

    .buttonWrapper {
      background: none;
      border-image: none;
      border: none;
    }
  }

  .containerIconSelectedIndicator {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 8px;
    height: auto;
  }

  .containerMenuIconCircle {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 64px;
    height: 64px;
    border-radius: 32px;
    border: 1px solid #587481;
  }

  .containerMenuIconCircleSelected {
    border: 2px solid #fce33e;
    /* gradient border */
    border: double 4px transparent;
    background-image: linear-gradient(#262c3a, #262c3a),
      linear-gradient(91.47deg, #fce33e 5.1%, #bc7824 87.82%);
    background-origin: border-box;
    background-clip: content-box, border-box;
  }
}
