.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  .containerLayout {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100vw;
    height: calc(100vh - 60px); /* full page height - header height */

    .containerMenus {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: flex-start;
      width: 365px; /* 115px, 250px = 365px */
      height: 100%;
    }

    .containerChildren {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: flex-start;
      width: calc(100vw - 365px); /* full page widht - menu width */
      height: 100%;
    }
  }
}
