.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  height: 60px;
  background-color: #262c3a;
  border-bottom: 2px solid #587481;
  padding: 12px 122px;
}
